<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
<div class="container">
    <a th:href="@{/formajout}" class="btn btn-success">Ajouter Produit </a>

    <div>List de produit</div>
    <form th:action="@{/index}">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only"> Mot clé :</label>
            <input type="text" class="form-control" id="inputPassword2" name="mc">
        </div>
        <button type="submit" class="btn btn-primary mb-2 fa fa-search"></button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nom
            </th>
            <th>
                prix
            </th>
            <th>
                quantite
            </th>
            <th>
                Categorie
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p:${product}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nom}"></td>
            <td th:text="${p.prix}"></td>
            <td th:text="${p.quantite}"></td>
            <td th:text="${p.categorie.nom}"></td>
            <td>
                <a th:href="@{'/delete /'+${p.id}}" class="btn btn-danger fa fa-trash"></a>
                <a href="" class="btn btn-warning fa fa-edit"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>